





.cl{
	background-color: blue;
	padding: 10px;
	margin: 10px;
	/*border: 5px solid red;*/
	border-top: 5px dotted red;
}
.note{
	color: red
}
.header{
	background-color: green;
	text-align: center; 
	color: white;
	padding: 10px;
}
.left-pannel{
		border: 5px solid red;
		padding: 5px;
		float: left;
		width: 300px;
		height: 350 px;
		background-color: #555555;

}
.right-pannel{
	line-height: 30px;
	border: 5px solid yellow;
	padding: 4px;
	background-color: #555555;
	float: right;
	width: 900px;
	height:500;
}
.myfooter{
	background-color: black;
	text-align: center;
	padding: 5px;
	color: white;
	clear:both;
}




/*styling a carousel*/

.d-block {
	height: 100vh;
}

.img-txt{
	background-image: url('../images/wildbeast.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	size: cover;
	height: 200px;
	color: white;
	text-align: center;
	padding: 10px;
	
}